# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
# Environment
.env

# IDE
.idea/
.vscode/
/home/souhaib/springboot-doc-agent/.env

# Other
*.log
FINAL_DOCUMENTATION.md

# Backend
backend/__pycache__/
backend/*.pyc
backend/.venv/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/.env
frontend/src-tauri/target/
frontend/src-tauri/Cargo.lock
